
*{
    margin: 0;
    font-family: 'PT Sans';
    border: 0;
}

.KontakKami{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 100px;
}    

#Kontent{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 5%;

}

#judulKonteks span {
    font-weight: 100;
}
#judulKonteks {
    font-size: 40px;
}
#KeteranganKonteks{
    margin-top: 10px;
    margin-bottom: 50px;
}

#KontenSosial{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-bottom: 30px;
}

#IconKontenSosial{
    width: 48px;
    height: 48px;
    margin-right: 19px;

}

#NamaSosialMedia{
    font-size: 14px;
    align-self: center;
}