
*{
    margin: 0;
    font-family: 'PT Sans';
    border: 0;
}

.JenisPengujian{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 100px;
}
#JenisPenujianKonteks{
    display: flex;
    flex-direction:column;
    align-items: left;
    width: 80%;
}
    

#judulKonteks span {
    font-weight: 100;
}
#judulKonteks {
    font-size: 40px;
}
#KeteranganKonteks{
    margin-top: 10px;
    margin-bottom: 50px;
}
#KolomJenis{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    margin-bottom: 50px;
}
#JenisKonteks{
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    align-items: center;
    width: 120px;
    height: 120px;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.4);
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100px;

}
#IconJenis{
    width: auto;
    height: auto;
    margin-top: 10px;
}
#TeksKonteks{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;

}

#AlurPengujian{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#poster{
    margin-bottom: 90px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    align-self: center;
}

@media (max-width: 1440px) {
    #KolomJenis{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }
   
}


@media (max-width: 992px) {
    #KolomJenis{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }
    
}

@media (max-width: 768px) {
    #KolomJenis{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    
}