*{
    margin: 0;
    font-family: 'Public Sans';
    border: 0;
}
/*MAIN*/
main {
    display: flex;
    flex-direction: column;
    padding-left: 13%;
    margin-bottom: 50px;
    margin-top: 50px;
}
#judul_box a {
    font-weight: 900;
    font-size: 20px;
}
#judul_box span {
    font-weight: 100;
}
#judul_box h6 {
    margin-top: 10px;
}
#produk_container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 87%;
}
#item_container {
    padding: 10px 25px 10px 25px;
    box-shadow: 1px 1px 0px 0px #e0e0e0;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}
#format_item {
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: #ffbe31;
    color: #2e2e2e;
    align-self: flex-end;
}
#downloadb {
    background-color: #2e2e2e;
    color: #FFFFFF;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 100;
}
